<dl>
  <% events.each do |event| %>
    <dt><%= event.due_date.to_formatted_s(:long) %></dt>
    <dd>
      <%= link_to event.title, event_path(event) %>
      <p><%= event.shorten_description %></p>
    </dd>
  <% end %>
</dl>