<script type="text/javascript">
  $(document).ready(function(){
    $('#calendar_month').fullCalendar({
      defaultView: 'month',
      events: [
        <% events.each do |event|  %>
          {
            title: '<%= event.title %>',
            start: new Date('<%= event.due_date %>'),
            url: '<%= event_path event %>'
          },
        <%end%>
      ]
    });
  });
</script>
<div id="calendar_month"></div>