<h2><%= @event.event_type.title %> <%= @event.name %> Changelog</h2>

<%= render 'events/change_log', versions: @event.versions %>

<hr/>
<%= link_to 'Back', event_path(@event), class: 'btn btn-primary btn-sm' %>