<h2><%= @user.full_name %> <%= @event.title %> Sum</h2>

<%= render 'events/change_log', versions: @user.event_sum(@event) %>

<hr/>
<%= link_to 'Back', event_path(@event), class: 'btn btn-primary btn-sm' %>